In [1]:
import numpy as np
import pandas as pd

In [2]:
#Reading the CSV
major=pd.read_csv("C:/Users/swapn/Downloads/adult.csv")

In [3]:
#Dataset
major

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
#Renaming the columns name
major.columns =[' Age','Workclass','Fnlwgt','Education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hourse_per_week','native_country','income']

In [5]:
#Dataset
major

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hourse_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
major.describe()

,Age,Fnlwgt,education_num,capital_gain,capital_loss,hourse_per_week
count,32560.000000,3.256000e+04,32560.000000,32560.000000,32560.000000,32560.000000
mean,38.581634,1.897818e+05,10.080590,1077.615172,87.306511,40.437469
std,13.640642,1.055498e+05,2.572709,7385.402999,402.966116,12.347618
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
#To check is there null values
major.isnull().sum()

 Age               0
Workclass          0
Fnlwgt             0
Education          0
education_num      0
marital_status     0
occupation         0
relationship       0
race               0
sex                0
capital_gain       0
capital_loss       0
hourse_per_week    0
native_country     0
income             0
dtype: int64

In [9]:
#Similar as using One-Hot-Encoding we use get_dummies(categorical data to numerical data)
major=pd.get_dummies(major,drop_first=True)
major

,Age,Fnlwgt,education_num,capital_gain,capital_loss,hourse_per_week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,Workclass_ Private,...,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ >50K
0,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,37,284582,14,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,257302,12,0,0,38,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32556,40,154374,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
32557,58,151910,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32558,22,201490,9,0,0,20,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32559,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [10]:
print(major.columns)
len(major.columns)

Index([' Age', 'Fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hourse_per_week', 'Workclass_ Federal-gov', 'Workclass_ Local-gov',
       'Workclass_ Never-worked', 'Workclass_ Private',
       ...
       'native_country_ Puerto-Rico', 'native_country_ Scotland',
       'native_country_ South', 'native_country_ Taiwan',
       'native_country_ Thailand', 'native_country_ Trinadad&Tobago',
       'native_country_ United-States', 'native_country_ Vietnam',
       'native_country_ Yugoslavia', 'income_ >50K'],
      dtype='object', length=101)

101

In [11]:
#Splitting Independent features and Dependent features
X=major.drop(['income_ >50K'],axis=1)
y=major['income_ >50K']

In [12]:
X.head()

,Age,Fnlwgt,education_num,capital_gain,capital_loss,hourse_per_week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,Workclass_ Private,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,37,284582,14,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [13]:
y

0        0
1        0
2        0
3        0
4        0
        ..
32555    0
32556    1
32557    0
32558    0
32559    1
Name: income_ >50K, Length: 32560, dtype: uint8

In [14]:
#Importing StandardScalar
from sklearn.preprocessing import StandardScaler

In [15]:
ss=StandardScaler()

In [16]:
#Importing LogisticRegression,SVC,KNeighboursClassifier,RandomForestClassifier,DecisionTreeClasssifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [17]:
# list of models
models_list = [LogisticRegression(max_iter=1000), KNeighborsClassifier(), RandomForestClassifier(random_state=0), DecisionTreeClassifier(random_state=0), SVC(kernel='linear')]

In [18]:
# creating a dictionary that contains hyperparameter values for the above mentioned models


hyper_parameters = {
    

    'log_reg_hyperparameters': {
        
        'C' : [1,5,7,10,15,20]
    },


    'KNN_hyperparameters' : {
        
        'n_neighbors' : [3]
    },


    'random_forest_hyperparameters' : {
        
        'n_estimators' : [50, 100,150,200],
        'criterion' : ['gini', 'entropy']
    },
    
    'decision_tree_hyperparameters': {
        'max_features': ['sqrt', 'log2'],
        'criterion' : ['gini', 'entropy']
        
    },
    
    'svc_hyperparameters': {
        'C' : [1,3],
        'kernel' : ['linear']
    }


}

In [19]:
model_keys = list(hyper_parameters.keys())
print(model_keys)

['log_reg_hyperparameters', 'KNN_hyperparameters', 'random_forest_hyperparameters', 'decision_tree_hyperparameters', 'svc_hyperparameters']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix,classification_report

In [21]:
#Using train_test_spilt
x_train,x_test,Y_train,Y_test=train_test_split(X,y,stratify=y,random_state=143,test_size=0.2)

In [22]:
print(x_train.shape)
print(x_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(26048, 100)
(6512, 100)
(26048,)
(6512,)

In [23]:
#Using StandardScalar
x_train=ss.fit_transform(x_train)
x_test=ss.fit_transform(x_test)

In [24]:
print(x_train.std())
print(x_test.std())

1.0000000000000002
0.9899494936611664

In [25]:
#fitting the model
#making predictions
#print confusion matrix
#print classification_report
#gridsearch_CV
def ModelSelection(list_of_models, hyperparameters_dict):

  result = []

  i = 0

  for model in list_of_models:

    key = model_keys[i]

    params = hyperparameters_dict[key]

    i += 1

    print(model)
    print(params)
    print('---------------------------------')


    classifier = GridSearchCV(model, params, cv=5)

    # fitting the data to classifier
    classifier.fit(x_train,Y_train)
    y_pred=classifier.predict(x_test)
    
    print(confusion_matrix(Y_test,y_pred))
    tn, fp, fn, tp=confusion_matrix(Y_test,y_pred).ravel()
    print(classification_report(Y_test,y_pred))
    print('miscalcualtion rate percentage: ',((fp+fn)/(tn+fp+fn+tp))*100)
    print('                                                                  ')
    print('******************************************************************')
    print('------------------------------------------------------------------')

    result.append({
        'model used' : model,
        'highest score' : classifier.best_score_,
        'best hyperparameters' : classifier.best_params_
    })

  result_dataframe = pd.DataFrame(result, columns = ['model used','highest score','best hyperparameters'])

  return result_dataframe

In [26]:
ModelSelection(models_list, hyper_parameters)

LogisticRegression(max_iter=1000)
{'C': [1, 5, 7, 10, 15, 20]}
---------------------------------
[[4640  304]
 [ 633  935]]
              precision    recall  f1-score   support

           0       0.88      0.94      0.91      4944
           1       0.75      0.60      0.67      1568

    accuracy                           0.86      6512
   macro avg       0.82      0.77      0.79      6512
weighted avg       0.85      0.86      0.85      6512

miscalcualtion rate percentage:  14.388820638820638

******************************************************************
------------------------------------------------------------------
KNeighborsClassifier()
{'n_neighbors': [3]}
---------------------------------
[[4399  545]
 [ 686  882]]
              precision    recall  f1-score   support

           0       0.87      0.89      0.88      4944
           1       0.62      0.56      0.59      1568

    accuracy                           0.81      6512
   macro avg       0.74      0.73      0.73      6512
weighted avg       0.81      0.81      0.81      6512

miscalcualtion rate percentage:  18.903562653562652

******************************************************************
------------------------------------------------------------------
RandomForestClassifier(random_state=0)
{'n_estimators': [50, 100, 150, 200], 'criterion': ['gini', 'entropy']}
---------------------------------
[[4608  336]
 [ 616  952]]
              precision    recall  f1-score   support

           0       0.88      0.93      0.91      4944
           1       0.74      0.61      0.67      1568

    accuracy                           0.85      6512
   macro avg       0.81      0.77      0.79      6512
weighted avg       0.85      0.85      0.85      6512

miscalcualtion rate percentage:  14.619164619164618

******************************************************************
------------------------------------------------------------------
DecisionTreeClassifier(random_state=0)
{'max_features': ['sqrt', 'log2'], 'criterion': ['gini', 'entropy']}
---------------------------------
[[4318  626]
 [ 637  931]]
              precision    recall  f1-score   support

           0       0.87      0.87      0.87      4944
           1       0.60      0.59      0.60      1568

    accuracy                           0.81      6512
   macro avg       0.73      0.73      0.73      6512
weighted avg       0.81      0.81      0.81      6512

miscalcualtion rate percentage:  19.394963144963146

******************************************************************
------------------------------------------------------------------
SVC(kernel='linear')
{'C': [1, 3], 'kernel': ['linear']}
---------------------------------
[[4655  289]
 [ 672  896]]
              precision    recall  f1-score   support

           0       0.87      0.94      0.91      4944
           1       0.76      0.57      0.65      1568

    accuracy                           0.85      6512
   macro avg       0.81      0.76      0.78      6512
weighted avg       0.85      0.85      0.84      6512

miscalcualtion rate percentage:  14.757371007371006

******************************************************************
------------------------------------------------------------------

,model used,highest score,best hyperparameters
0,LogisticRegression(max_iter=1000),0.850084,{'C': 1}
1,KNeighborsClassifier(),0.809467,{'n_neighbors': 3}
2,RandomForestClassifier(random_state=0),0.854998,"{'criterion': 'gini', 'n_estimators': 200}"
3,DecisionTreeClassifier(random_state=0),0.810081,"{'criterion': 'entropy', 'max_features': 'log2'}"
4,SVC(kernel='linear'),0.850276,"{'C': 1, 'kernel': 'linear'}"

In [27]:
#we can find that LogisticRegression is the best model based on accuracy.