In [1]:

import pandas as pd

import numpy as np

In [2]:
ipl=pd.read_csv('C:/Users/swapn/Desktop/ml projects/ipl.csv')
ipl

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [3]:
ipl.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [4]:
remove_columns=['mid','batsman', 'bowler','striker',
       'non-striker']

In [5]:
ipl.drop(remove_columns,axis=1,inplace=True)

In [6]:
ipl.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [7]:
ipl.bat_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [8]:
consistent_team=['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians','Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils','Sunrisers Hyderabad']

In [9]:
ipl=ipl[(ipl['bat_team'].isin(consistent_team) & ipl['bowl_team'].isin(consistent_team))]

In [10]:
ipl

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...,...,...
75884,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,106,9,18.1,29,4,107
75885,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,9,18.2,29,4,107
75886,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,9,18.3,28,4,107
75887,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,9,18.4,24,4,107
75888,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,10,18.5,23,5,107

In [11]:
ipl=ipl[ipl['overs']>=6.0]

In [12]:
ipl

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
38,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,62,1,6.1,55,1,222
39,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,63,1,6.2,52,1,222
40,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,64,1,6.3,47,1,222
41,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,66,1,6.4,45,1,222
42,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,67,1,6.5,46,1,222
...,...,...,...,...,...,...,...,...,...,...
75884,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,106,9,18.1,29,4,107
75885,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,9,18.2,29,4,107
75886,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,9,18.3,28,4,107
75887,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,9,18.4,24,4,107
75888,2017-05-19,M Chinnaswamy Stadium,Kolkata Knight Riders,Mumbai Indians,107,10,18.5,23,5,107

In [13]:
ipl.bat_team.value_counts()

Mumbai Indians                 5881
Kings XI Punjab                5482
Chennai Super Kings            5259
Royal Challengers Bangalore    4753
Kolkata Knight Riders          4327
Rajasthan Royals               4208
Delhi Daredevils               4182
Sunrisers Hyderabad            3297
Name: bat_team, dtype: int64

In [14]:
ipl.bat_team.value_counts()

Mumbai Indians                 5881
Kings XI Punjab                5482
Chennai Super Kings            5259
Royal Challengers Bangalore    4753
Kolkata Knight Riders          4327
Rajasthan Royals               4208
Delhi Daredevils               4182
Sunrisers Hyderabad            3297
Name: bat_team, dtype: int64

In [15]:
ipl.bat_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
       'Delhi Daredevils', 'Sunrisers Hyderabad'], dtype=object)

In [16]:
ipl.bowl_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Kolkata Knight Riders',
       'Sunrisers Hyderabad'], dtype=object)

In [17]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37389 entries, 38 to 75888
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            37389 non-null  object
 1   venue           37389 non-null  object
 2   bat_team        37389 non-null  object
 3   bowl_team       37389 non-null  object
 4   runs            37389 non-null  int64
 5   wickets         37389 non-null  int64
 6   overs           37389 non-null  float64
 7   runs_last_5     37389 non-null  int64
 8   wickets_last_5  37389 non-null  int64
 9   total           37389 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 3.1+ MB

In [18]:
from datetime import datetime
ipl['date']=ipl.loc[:,'date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

<ipython-input-18-a1cc762427ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ipl['date']=ipl.loc[:,'date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [19]:
ipl.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
38,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,62,1,6.1,55,1,222
39,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,63,1,6.2,52,1,222
40,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,64,1,6.3,47,1,222
41,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,66,1,6.4,45,1,222
42,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,67,1,6.5,46,1,222

In [20]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37389 entries, 38 to 75888
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            37389 non-null  datetime64[ns]
 1   venue           37389 non-null  object
 2   bat_team        37389 non-null  object
 3   bowl_team       37389 non-null  object
 4   runs            37389 non-null  int64
 5   wickets         37389 non-null  int64
 6   overs           37389 non-null  float64
 7   runs_last_5     37389 non-null  int64
 8   wickets_last_5  37389 non-null  int64
 9   total           37389 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 3.1+ MB

In [21]:
ipl['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Eden Gardens',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Subrata Roy Sahara Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Barabati Stadium', 'Maharashtra Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Holkar Cricket Stadium'], dtype=object)

In [22]:
ipl_final=pd.get_dummies(ipl,columns=['venue','bat_team','bowl_team'])

In [23]:
ipl_final.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,venue_Barabati Stadium,venue_Brabourne Stadium,venue_Buffalo Park,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
38,2008-04-18,62,1,6.1,55,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39,2008-04-18,63,1,6.2,52,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
40,2008-04-18,64,1,6.3,47,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
41,2008-04-18,66,1,6.4,45,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
42,2008-04-18,67,1,6.5,46,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [24]:
ipl_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37389 entries, 38 to 75888
Data columns (total 54 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   date                                                        37389 non-null  datetime64[ns]
 1   runs                                                        37389 non-null  int64
 2   wickets                                                     37389 non-null  int64
 3   overs                                                       37389 non-null  float64
 4   runs_last_5                                                 37389 non-null  int64
 5   wickets_last_5                                              37389 non-null  int64
 6   total                                                       37389 non-null  int64
 7   venue_Barabati Stadium                                      37389 non-null  uint8
 8   venue_Brabourne Stadium                                     37389 non-null  uint8
 9   venue_Buffalo Park                                          37389 non-null  uint8
 10  venue_De Beers Diamond Oval                                 37389 non-null  uint8
 11  venue_Dr DY Patil Sports Academy                            37389 non-null  uint8
 12  venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium   37389 non-null  uint8
 13  venue_Dubai International Cricket Stadium                   37389 non-null  uint8
 14  venue_Eden Gardens                                          37389 non-null  uint8
 15  venue_Feroz Shah Kotla                                      37389 non-null  uint8
 16  venue_Himachal Pradesh Cricket Association Stadium          37389 non-null  uint8
 17  venue_Holkar Cricket Stadium                                37389 non-null  uint8
 18  venue_JSCA International Stadium Complex                    37389 non-null  uint8
 19  venue_Kingsmead                                             37389 non-null  uint8
 20  venue_M Chinnaswamy Stadium                                 37389 non-null  uint8
 21  venue_MA Chidambaram Stadium, Chepauk                       37389 non-null  uint8
 22  venue_Maharashtra Cricket Association Stadium               37389 non-null  uint8
 23  venue_New Wanderers Stadium                                 37389 non-null  uint8
 24  venue_Newlands                                              37389 non-null  uint8
 25  venue_OUTsurance Oval                                       37389 non-null  uint8
 26  venue_Punjab Cricket Association IS Bindra Stadium, Mohali  37389 non-null  uint8
 27  venue_Punjab Cricket Association Stadium, Mohali            37389 non-null  uint8
 28  venue_Rajiv Gandhi International Stadium, Uppal             37389 non-null  uint8
 29  venue_Sardar Patel Stadium, Motera                          37389 non-null  uint8
 30  venue_Sawai Mansingh Stadium                                37389 non-null  uint8
 31  venue_Shaheed Veer Narayan Singh International Stadium      37389 non-null  uint8
 32  venue_Sharjah Cricket Stadium                               37389 non-null  uint8
 33  venue_Sheikh Zayed Stadium                                  37389 non-null  uint8
 34  venue_St George's Park                                      37389 non-null  uint8
 35  venue_Subrata Roy Sahara Stadium                            37389 non-null  uint8
 36  venue_SuperSport Park                                       37389 non-null  uint8
 37  venue_Wankhede Stadium                                      37389 non-null  uint8
 38  bat_team_Chennai Super Kings                                37389 non-null  uint8
 39  bat_team_Delhi Daredevils                                   37389 non-null  uint8
 40  bat_team_Kings XI Punjab                                    37389 non-null  uint8
 41  bat_team_Kolkata Knight Riders                              37389 non-null  uint8
 42  bat_team_Mumbai Indians                                     37389 non-null  uint8
 43  bat_team_Rajasthan Royals                                   37389 non-null  uint8
 44  bat_team_Royal Challengers Bangalore                        37389 non-null  uint8
 45  bat_team_Sunrisers Hyderabad                                37389 non-null  uint8
 46  bowl_team_Chennai Super Kings                               37389 non-null  uint8
 47  bowl_team_Delhi Daredevils                                  37389 non-null  uint8
 48  bowl_team_Kings XI Punjab                                   37389 non-null  uint8
 49  bowl_team_Kolkata Knight Riders                             37389 non-null  uint8
 50  bowl_team_Mumbai Indians                                    37389 non-null  uint8
 51  bowl_team_Rajasthan Royals                                  37389 non-null  uint8
 52  bowl_team_Royal Challengers Bangalore                       37389 non-null  uint8
 53  bowl_team_Sunrisers Hyderabad                               37389 non-null  uint8
dtypes: datetime64[ns](1), float64(1), int64(5), uint8(47)
memory usage: 4.0 MB

In [25]:
X_train=ipl_final.drop('total',axis=1)[ipl_final['date'].dt.year<=2016]
X_test=ipl_final.drop('total',axis=1)[ipl_final['date'].dt.year>=2017]

In [26]:
y_train=ipl_final[ipl_final['date'].dt.year<=2016]['total'].values
y_test=ipl_final[ipl_final['date'].dt.year>=2017]['total'].values

In [27]:
X_train.drop('date', axis=1, inplace=True)
X_test.drop('date', axis=1, inplace=True)

In [28]:
X_train

,runs,wickets,overs,runs_last_5,wickets_last_5,venue_Barabati Stadium,venue_Brabourne Stadium,venue_Buffalo Park,venue_De Beers Diamond Oval,venue_Dr DY Patil Sports Academy,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
38,62,1,6.1,55,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39,63,1,6.2,52,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
40,64,1,6.3,47,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
41,66,1,6.4,45,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
42,67,1,6.5,46,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68857,194,7,19.2,54,4,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68858,200,7,19.3,56,4,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68859,201,7,19.4,56,4,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68860,202,7,19.5,57,4,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68861,208,7,19.6,62,4,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [29]:
X_test

,runs,wickets,overs,runs_last_5,wickets_last_5,venue_Barabati Stadium,venue_Brabourne Stadium,venue_Buffalo Park,venue_De Beers Diamond Oval,venue_Dr DY Patil Sports Academy,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
68900,60,1,6.1,48,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68901,60,1,6.2,47,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68902,61,1,6.3,42,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68903,62,1,6.4,43,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68904,63,1,6.5,44,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,106,9,18.1,29,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
75885,107,9,18.2,29,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
75886,107,9,18.3,28,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
75887,107,9,18.4,24,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
75888,107,10,18.5,23,5,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [30]:
y_train.shape

(34797,)

In [31]:
y_test

array([207, 207, 207, ..., 107, 107, 107], dtype=int64)

In [32]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import RandomizedSearchCV

In [44]:
ridge=Ridge()
param={'alpha':[1e-20,1e-15,1e-10,1e-5,1e-3,1e-1,1,2,3,5,10,15,20,30,40,50]}
ridge_reg=RandomizedSearchCV(ridge,param_distributions=param,scoring='neg_mean_squared_error',cv=7,n_iter=20)

In [45]:
ridge_reg.fit(X_train,y_train)

C:\Users\swapn\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:278: UserWarning: The total space of parameters 16 is smaller than n_iter=20. Running 16 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.6698e-28): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.65842e-28): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.6698e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.65842e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.6698e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.61736e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.64822e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.6251e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.65842e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.64494e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.64668e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

RandomizedSearchCV(cv=7, estimator=Ridge(), n_iter=20,
                   param_distributions={'alpha': [1e-20, 1e-15, 1e-10, 1e-05,
                                                  0.001, 0.1, 1, 2, 3, 5, 10,
                                                  15, 20, 30, 40, 50]},
                   scoring='neg_mean_squared_error')

In [46]:
ridge_reg.best_params_

{'alpha': 50}

In [47]:
ridge_reg.best_score_

-318.7478738300657

In [37]:
from sklearn.linear_model import Lasso

In [48]:
lasso=Lasso()
param={'alpha':[1e-20,1e-15,1e-10,1e-5,1e-3,1e-1,1,2,3,5,10,15,20,30,40,50]}
lasso_reg=RandomizedSearchCV(lasso,param,scoring='neg_mean_squared_error',cv=7,n_iter=20)

In [49]:
lasso_reg.fit(X_train,y_train)

C:\Users\swapn\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:278: UserWarning: The total space of parameters 16 is smaller than n_iter=20. Running 16 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3977956.30235616, tolerance: 2574.34287667136
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4007581.5761780934, tolerance: 2571.773741084956
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3805647.5086961733, tolerance: 2487.335388563668
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4147001.011224429, tolerance: 2702.3375745322824
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3919654.0474349065, tolerance: 2636.5544699121524
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3882635.211800979, tolerance: 2711.026814017974
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4003913.5255056513, tolerance: 2577.646397612824
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3921623.3242404866, tolerance: 2574.34287667136
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3983334.9970005713, tolerance: 2571.773741084956
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3788477.92403316, tolerance: 2487.335388563668
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4125625.5773028135, tolerance: 2702.3375745322824
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3903860.430598458, tolerance: 2636.5544699121524
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3853396.597804002, tolerance: 2711.026814017974
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3958202.691223554, tolerance: 2577.646397612824
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 419986.5796439694, tolerance: 2574.34287667136
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 799825.0095267873, tolerance: 2571.773741084956
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 895925.6619670051, tolerance: 2487.335388563668
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 704618.8691508071, tolerance: 2702.3375745322824
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 727323.6020686096, tolerance: 2636.5544699121524
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 275157.61859314423, tolerance: 2711.026814017974
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 215149.03310688585, tolerance: 2577.646397612824
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 420002.98470056243, tolerance: 2574.34287667136
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 799854.3238685727, tolerance: 2571.773741084956
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 533540.9774340969, tolerance: 2487.335388563668
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 706379.2817650829, tolerance: 2702.3375745322824
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 727338.3375433963, tolerance: 2636.5544699121524
  model = cd_fast.enet_coordinate_descent(
C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 275184.06164627895, tolerance: 2711.026814017974
  model = cd_fast.enet_coordinate_descent(

C:\Users\swapn\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 215160.00484216958, tolerance: 2577.646397612824
  model = cd_fast.enet_coordinate_descent(

RandomizedSearchCV(cv=7, estimator=Lasso(), n_iter=20,
                   param_distributions={'alpha': [1e-20, 1e-15, 1e-10, 1e-05,
                                                  0.001, 0.1, 1, 2, 3, 5, 10,
                                                  15, 20, 30, 40, 50]},
                   scoring='neg_mean_squared_error')

In [50]:
lasso_reg.best_params_

{'alpha': 1}

In [51]:
lasso_reg.best_score_

-295.98782929107017